@import 'reset';
@import 'loader';
@import "mixin";
@import 'components/menu';
@import 'components/header';
@import 'components/container';
@import 'components/sets';
@import 'components/rolls';
@import 'components/stock';
@import 'components/track';
@import 'components/footer';

html {
    font-size: 16px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    text-rendering: geometricPrecision;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.title {
    @include FontsTitle;
    font-size: clamp(1.5rem, 1.0824rem + 2.0879vw, 2.6875rem);
    color: #ffffff;
}

